.unsubscribe-page {
    font-family: 'Work Sans', sans-serif;
    min-height: calc(100vh - 121px);

    .unsubscribe-form {        
        background-color: #444444aa;
        border-radius: 10px;
        box-shadow: 3px 3px 20px black;
        padding: 50px;
    }
}